{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'assents/js/localsto.js' %}"></script>
    <script src="{% static 'assents/js/check.js' %}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <!--ITERATING USERS LIST-->
            <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <hr>
                <div class="thumbnail">
                    <center>
                        <img src="https://cdn2.iconfinder.com/data/icons/users-2/512/User_1-512.png" class="img-responsive img-circle" style="width: 100px">
                        <hr>
                    </center>

                    <div class="caption">

                        <form action="/" method="POST" name="myform" onsubmit="Check(event)">{% csrf_token %}
                            
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Type your email" name="email" value="" required="true">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Type your password" name="password" value="" required="true" pattern=".{5,20}" title="password length should vary between 5-20" maxlength="20">
                            </div>

                            <button class="btn btn-success btn-block">Login</button>
                
                            <div class="row">
                            <div class="col-sm-12 col-md-12">
                            <center>
                                <a href="/register/">Don't have an account</a>
                            </center>
                            </div>
                            </div>    
                        </form>

                        <br>

                        <p id='demo'></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
</body>       