<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            

               {% for user in users %}
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4">
                    <!-- <div class="thumbnail"> -->
                        <center>
                        {% if user.image is None %}
                            <img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/user-512.png" alt="Default-image-for-user-{{user.id}}" class="img-responsive img-circle" style="width: 100px">
                        {% else %}
                            <img src="{{user.image.url}}" alt="Default-image-for-user-{{user.id}}" class="img-responsive img-circle" style="width: 100px">
                        {% endif %}
                        <hr>
                        </center>
                        <div class="caption">
                            <div class="card-block">
                                <center>
                                    <h3>{{user.fullname}}</h3>
                                    <p>{{user.email}}</p>
                                    <p>+91 {{user.contact}}</p>
                                    <p>{{user.address}}</p>
                                </center>
                            </div>
                            <div class="caption">
                                <a href="/delete/{{user.id}}" role="button" class="btn btn-danger btn-block">Delete Account</a>
                                <a href="/update/{{user.id}}" role="button" class="btn btn-success btn-block">Update Profile</a>
                            </div>
                        </div>
                
                    <!-- </div> -->
                </div>
                {% endfor %}
            
        </div>
    </div>
</body>

</html>