
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-log-in"></span><a href="#" id='login'>Login</a></li>
        <li ><span class="glyphicon glyphicon-off"></span><a href="#" id='logout' role="button" onclick="clear()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>