{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        

        <div class="row">
            <!--ITERATING USERS LIST-->
            <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <hr>
                <div class="thumbnail">
                    <center>
                        <img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/user-512.png" alt="Default-image-for-user-{{user.id}}" class="img-responsive img-circle" style="width: 100px">
                        <hr>
                    </center>

                    <div class="caption">

                        <form action="/update/" method="POST">{% csrf_token %}
                            <div class="form-group" style="display: none;">
                                <input type="text" class="form-control" id="userId"  name="userId" value="{{user.id}}">
                            </div>
                            <div class="form-group">
                                <label for="fullname">Fullname</label>
                                <input type="text" class="form-control" id="fullname" placeholder="Type your fullname" name="fullname" value="{{user.fullname}}" required="true" autofocus="true" maxlength="50">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Type your email" name="email" value="{{user.email}}" required="true">
                            </div>

                            <div class="form-group">
                                <label for="contact">Contact</label>
                                <input type="contact" class="form-control" id="contact" placeholder="Type your contact 10 digit contact number" name="contact" value="{{user.contact}}" maxlength="10" oninput='this.value=this.value.replace(/[^0-9]/g, "")' pattern="^([789]([0-9]{9}))$" title='Mobile number(INDIAN) should contain exactly 10 digits starting with 7/8/9' required="true">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Type your password" name="password" value="{{user.password}}" required="true" pattern=".{5,20}" title="password length should vary between 5-20" maxlength="20">
                            </div>

                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" rows="5" id="address" placeholder="Type your address" name="address" required="true">{{user.address}}</textarea>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">Update</button>
                        </form>

                        <br>

                        <p id='demo'></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assents/js/check.js' %}"></script>
    
</body>

</html>
